<ion-header>
  <ion-toolbar>
    <ion-title>menu-card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title class="ion-text-center">Menu Card</ion-card-title>
    <ion-card-header></ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-title class="ion-text-center">Starters</ion-title>
        </ion-list-header>
        <ion-item>
          <ion-title>Frittatensuppe</ion-title>
          <ion-text>Price: 4,50€</ion-text>
        </ion-item>
        <ion-list-header>
          <ion-title class="ion-text-center">Main Course</ion-title>
        </ion-list-header>
        <ion-item>
          <ion-title>Wienerschnitzel</ion-title>
          <ion-text>Price: 9,50€</ion-text>
        </ion-item>
        <ion-list-header>
          <ion-title class="ion-text-center">Desserts</ion-title>
        </ion-list-header>
        <ion-item>
          <ion-title>Sachertorte</ion-title>
          <ion-text>Price: 3,50€</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
